[project]
name = "day05"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pyright>=1.1.407",
    "ruff>=0.14.8",
]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
